{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["> 5%", "last 2 versions", "not ie <= 8"]
      },
      "modules": false,
      "loose": true
    }]
  ],
  "env": {
    "commonjs": {
      "plugins": [
        ["@babel/plugin-transform-modules-commonjs", { "loose": true }]
      ]
    },
    "test": {
      "plugins": [
        ["@babel/plugin-transform-modules-commonjs", { "loose": true }],
        ["@babel/plugin-transform-runtime"]
      ]
    }
  }
}
